header {
    background-color: #f2dcbb;
    padding: 5px 15px;
}

body {
    width: 480px;
    background-color: #f9f7cf;
    padding: 15px;
}

footer {
    background-color: #f2dcbb;
    padding: 5px 15px;
}