@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Great+Vibes';

html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 30px;
}

body h1 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

body h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}